h1{
  color: white;
  background-color:#1976d2;
  padding: 20px;
  margin: 0;
}

body{
  background-color:white;
  margin: 0;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin:10px;
}

nav li {
    display: inline;
    border: solid;
    border-width: 1px 1px 1px 1px;
    margin: 0 10px 0 0;
    background-color: #1976d2;
    border-radius: 10px 10px 10px 10px;
    padding: 7px;
}

nav li a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
}


/* to see what content you want centered but for now do all */
#content{
  text-align: center;
}

html{
  text-align: center
}


footer {
    color: white;
    background-color: #0000006e;
    clear: both;
    position: relative;
    height: 40px;
    margin-top: 50%;
}

img.rounded-corners {
  border-radius: 50%
}
.left {
  text-align: left;
  vertical-align: center;
  margin-top: 10%
}

.header {
  font-weight: bold;
  font-size: 200%;
}
