h1{
  color: white;
  background-color:blue;
  padding: 20px;
  margin: -10px;
  
}

body{
  background-color:aliceblue;
}

nav ul {
    list-style: none;
    padding: 10px;
    margin:10px;
}

nav li {
    display: inline;
    border: solid;
    border-width: 0px 0px 0px 0px;
    margin: 0 10px 0 0;
    background-color: blue;
    border-radius: 10px 10px 10px 10px;
    padding: 3px;
   
}

nav li a {
    padding: 0 10px;
    color: white;
    text-decoration: none;
}
